.team-member-sect {
    margin: 80px 0 50px 0;
}
.team-member-row {
    display: flex;
    gap: 40px;
    margin: 0 110px;
}

.team-member-img {
    display: flex;
    justify-content: end;
    align-items: baseline;
}

.team-member-img img {
    width: 100%;
}

.team-member-describe {
    width: 640px;
}

.team-member-heading {
    border-bottom: 4px solid #E6E6F0;
    margin-bottom: 40px;
}

.first-heading {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    color: transparent;
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 10px;
}

.team-member-subheading {
    display: flex;
    gap: 10px;
}

.team-member-subheading a {
    text-decoration: none;
}

.role-text-team-member {
    font-size: 16px;
    line-height: 22px;
    color: $grey-color;
    margin-bottom: 20px;
}

.team-member-contact,
.team-member-link {
    font-size: 16px;
    line-height: 19px;
    color: $blue-color;
}

.team-member-contact:before,
.team-member-link:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #E6E6F0;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: default;
    color: $grey-color;
}

.team-member-third-heading {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $darkgrey-color;
    margin: 40px 0 10px 0;
}

.text {
    font-size: 18px;
    line-height: 26px;
}

.subtext {
    font-size: 18px;
    line-height: 26px;
}

.info-sect {
    background-color: $lightgrey-color;
    border-top: none;
}

.info-row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.bot-address {
    font-size: 16px;
    margin-right: 30px;
    color: $darkgrey-color;
}

.bot-map {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $blue-color;
    text-decoration: none;
}

.info-bot {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.bot-tel {
    font-size: 16px;
    font-weight: 700;
    color: #46466E;
    text-decoration: none;
}

.bot-contact {
    font-size: 16px;
    font-weight: 700;
    color: $blue-color;
    text-decoration: none;
}

.text-trademark {
    font-size: 16px;
    color: $grey-color;
    text-align: end;
}

.bot-map:before,
.bot-contact:before,
.bot-tel:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: #E6E6F0;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    cursor: default;
    color: $grey-color;
}

.bot-tel:before {
    margin-right: 1px;
}

@media(max-width: 992px){
    .team-member-row{
    flex-direction: column;
    margin: 0;
    }
    .team-member-img {
        justify-content: start;
    }
    .team-member-img img {
        max-width: 413px;
    }
}

@media(max-width: 786px){
    .info-row {
        flex-direction: column;
        padding: 20px 0;
    }
    .info-col {
        display: flex;
        flex-direction: column;
    }
    .bot-address {
        margin: 0 0 10px 0;
        text-align: center;
    }
    .bot-map {
        text-align: center;
        margin: 0;
    }
    .info-bot{
        flex-direction: column;
        margin: 20px 0;
    }
    .text-trademark{
        text-align: center;
    }
    .bot-map:before,
    .bot-contact:before,
    .bot-tel:before {
    display: none;
    }
    .team-member-describe {
        width: 100%;
    }
}

@media(max-width: 576px) {
    .team-member-img img {
        width: 100%;
    }
    .team-member-sect {
        margin: 20px 0 20px 0;
    }
    .team-member-row {
        gap: 20px;
    }
    .team-member-heading{
        margin-bottom: 20px;
    }
    .team-member-third-heading {
        margin: 20px 0 10px 0;
    }
    .first-heading {
        margin-bottom: 15px;
    }
    .team-member-subheading {
        flex-direction: column;
        padding-bottom: 20px;
    }
    .role-text-team-member {
        margin: 0;
    }
}