@import "variables";
@import "header";

body {
    font-family: "TT Norms", sans-serif;
}

.intro-sect {
    min-height: 165px;
    background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
}




